# Entornos virtuales (Python)
.venv/
venv/
env/
ENV/

# Carpetas de dependencias y compilación (Node/Java/C#)
node_modules/
bin/
obj/
out/
target/

# Archivos de configuración de editores (VS Code, IntelliJ)
.vscode/
.idea/
*.suo
*.user
*.workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno con datos sensibles/claves
.env
.env.local
